body {
    background-color: rgb(186, 73, 73);
}

.informative-text {
    width: 95%;
    color: white;
}

.text-information-title {
    font-size: clamp(1px, 8vw, 60px);
}

.text-information {
    font-size: clamp(1px, 8vw, 40px);
}

.main-container {
    margin-top: 130px;
}

.check-image {
    max-width: 300px; 
    width: 20%;      /* Tamaño relativo al contenedor */
    height: auto;    /* Mantiene la proporción */
    object-fit: contain;
}


.image-check-wrapper {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    width: 80%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
