.body-configuration {
    background-color: rgb(186, 73, 73);
}

.sing-up-container {
    margin-top: 200px;
    width: 300px;
    height: 500px;
}

.title {
    color: white;
    font-size: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.icon-title {
    margin-right: 15px;
}

.data-container {
    background-color: white;
    width: 370px;
    height: 370px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
}

.google-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.sing-up-google {
    display: block;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 330px;
    border: solid 1px gray;
}

.left-line {
    border: solid 1px black;
    width: 123px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px !important;
}

.rigth-line {
    border: solid 1px black;
    width: 123px;
    margin-left: auto;
    margin-right: auto;
}

.text-separetion {
    color: black;
}

.email-text {
    color: black;
    margin-left: 10px;
    margin-top: 10px;
}

.email-textfield {
    width: 325px !important;
    height: 40px;
    margin-left: 9px;
    border-radius: 5px;
    border: none;
    background-color: #efefef;
}

.email-textfield:focus {
    outline: none;
}

.send-data {
    width: 325px !important;
    margin-left: 9px !important;
    height: 40px;
    margin-top: 20px;
    border-radius: 7px;
    border: none;
    background-color: #45474b;
    color: white;
}

.send-data:hover {
    background-color: #535356;
}

.log-in-text {
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

.already-account-text {
    font-weight: bold;
}

.btn-google {
    display: block;
    border: none;
    outline: none;
    width: 325px;
    border-radius: 5px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

