.body-configuration {
    background-color: rgb(186, 73, 73);
}

.sing-up-container {
    margin-top: 200px;
    width: 300px;
    height: 500px;
}

.title {
    font-size: clamp(30px, 10vw, 45px);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.icon-title {
    margin-right: 15px;
}

.data-container {
    background-color: white;
    max-width: 370px;
    width: 95%;
    /* Quitamos el height fijo de 370px para que no se desborde el texto */
    height: auto;
    min-height: 370px;
    padding-bottom: 25px;
    /* Espacio extra al final */
    border-radius: 20px;
    margin: 0 auto;
    padding-top: 1px;
}

.google-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.sing-up-google {
    display: block;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 330px;
    border: solid 1px gray;
}

.left-line {
    border: solid 1px black;
    width: 123px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px !important;
}

.rigth-line {
    border: solid 1px black;
    width: 123px;
    margin-left: auto;
    margin-right: auto;
}

.text-separetion {
    color: black;
}

.email-text {
    color: black;
    margin-top: 10px;
}

.email-textfield {
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #efefef;
}

.email-textfield:focus {
    outline: none;
}

.send-data {
    max-width: 325px !important;
    height: 40px;
    margin-top: 20px;
    border-radius: 7px;
    border: none;
    background-color: #45474b;
    color: white;
}

.send-data:hover {
    background-color: #535356;
}

.log-in-text {
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

.already-account-text {
    font-weight: bold;
}

.btn-google {
    display: block;
    border: none;
    outline: none;
    width: 325px;
    border-radius: 5px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.btn-google-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    /* Ocupa todo el ancho disponible del data-container */
    max-width: 325px;
    margin: 0 auto;
    /* Eliminamos overflow:hidden para que Google calcule bien las sombras */
}

.separator-line {
    border: none;
    border-top: 1px solid #ccc;
    opacity: 1;
    margin: 0;
    width: 100%;
}

.text-separetion {
    color: #828282; 
    font-size: 14px;
    font-weight: 500;
}

.email-text-wrapper {
    max-width: 325px;
    width: 95%;
    padding-left: 0 !important;
    margin-left: auto;
    margin-right: auto;
}

.form {
    display: block;
    max-width: 325px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 230px) {
    .title-text {
        display: none;
    }

    .icon-title {
        font-size: 70px;
        font-weight: bold;
    }
}