body {
    background-color: rgb(175 77 77) !important;
}

.main-container {
    margin-top: 200px;
}

.data-container {
    margin-top: 40px;
    background-color: white;
    width: 400px !important;

    border-radius: 7px;
}

.data-font {
    font-size: 12px;
    font-family: 'ArialRounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(0, 0%, 77%);
    margin-top: 20px;
}

.data-textfield {
    background-color: #efefef;
    border: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 40px;
    border-radius: 6px;
}

.data-textfield:focus {
    outline: none;
}

.inside-container {
    padding-top: 1px;
    padding-bottom: 1px;
}

.send-password-btn {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: block;
    width: 100%;
    border: none;
    background-color: rgb(55, 55, 55);
    color: white;
    border-radius: 6px;
}

.send-password-btn:hover {
    background-color: #222;
}

.title-font {
    color: white;
    margin-left: 8px;
    font-size: 60px;
}

.sub-title-font {
    color: white;
    font-size: 20px;
}

.warning-text {
    display: none;
    color: hsl(357deg 84% 70%);;
}