.body-configuration {
    background-color:  rgb(186, 73, 73);
}

.sing-up-container {
    margin-top: 200px;
    width: 300px;
    height: 500px;

    border: solid 2px;
}

.title {
    color: white;
    font-size: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;    
}

.icon-title {
    margin-right: 15px;
}

.data-container {
    background-color: white;
    width: 370px;
    height: 300px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
}

.google-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.sing-up-google {
    display: block;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 330px;
    border: solid 1px gray;
}